// add fonts
@font-face {
    font-family: Dosis;
    src:url("./assets/fonts/Dosis/Dosis-Regular.ttf");    
}

@font-face {
    font-family: 'Josefin';
    src:url('./assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf');    
}

@font-face {
    font-family: 'Ubuntu';
    src:url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf');    
}

@font-face{
    font-family: 'Mukta';
    src: url('./assets/fonts/Mukta/Mukta-Regular.ttf');
}

@font-face{
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald/Oswald-Regular.ttf');
}

@font-face{
    font-family: 'Charmonman';
    src: url('./assets/fonts/Charmonman/Charmonman-Regular.ttf');
}

@font-face{
    font-family: 'Exo';
    src: url('./assets/fonts/Exo_2/Exo2-Light.ttf');
}

@font-face{
    font-family: 'Merienda';
    src: url('./assets/fonts/Merienda/Merienda-Regular.ttf');
}

@font-face{
    font-family: 'Tangerine';
    src : url('./assets/fonts/Tangerine/Tangerine-Regular.ttf');
}